repos:
    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.14.6
      hooks:
          - id: ruff-check
            args:
                - --fix
          - id: ruff-format

    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v1.10.0
      hooks:
          - id: mypy
